{"openapi":"3.1.0","info":{"title":"MTGSold API","version":"1.0.0","description":"MTG Pricing API using [POSTGRES](https://docs.postgrest.org/en/v14/)"},"servers":[{"url":"https://api.mtgsold.com","description":"Production server"}],"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","description":"API key authentication using Bearer token"}},"schemas":{},"parameters":{}},"paths":{"/api/skus":{"get":{"tags":["API"],"summary":"List MTG SKUs with advanced filtering","description":"Query MTG SKU data with PostgREST-style filtering.\n\n## Available Fields\n\n### Core Fields\n- `id` (integer) - SKU identifier\n- `product_id` (integer) - TCGPlayer product ID\n- `condition` (text) - Card condition (NEAR MINT)\n- `condition_short` (text) - Short condition code (NM)\n- `finish` (text) - Card finish type (NORMAL, FOIL, ETCHED)\n- `is_foil` (boolean) - True if finish is FOIL\n- `language` (text) - Card language\n\n### Pricing Fields\n- `market_price` (numeric) - Current market price\n- `low_price` (numeric) - Lowest available price\n- `direct_low_price` (numeric) - Direct low price from TCGPlayer\n- `lowest_listing_price` (numeric) - Lowest current listing\n- `lowest_shipping` (numeric) - Lowest shipping cost\n- `has_pricing` (boolean) - True if pricing data available\n- `last_updated_at` (timestamp) - Last price update timestamp\n\n### External Platform IDs\n- `uuid` (text) - MTGJSON UUID\n- `scryfall_id` (text) - Scryfall card ID\n- `scryfall_oracle_id` (text) - Scryfall oracle ID\n- `scryfall_card_back_id` (text) - Scryfall card back ID\n- `scryfall_illustration_id` (text) - Scryfall illustration ID\n- `card_kingdom_id` (bigint) - Card Kingdom product ID\n- `card_kingdom_foil_id` (bigint) - Card Kingdom foil ID\n- `card_kingdom_etched_id` (bigint) - Card Kingdom etched ID\n- `mtgo_id` (text) - Magic Online card ID\n- `mtgo_foil_id` (text) - Magic Online foil ID\n- `mtg_arena_id` (text) - MTG Arena card ID\n- `multiverse_id` (text) - Wizards Multiverse ID\n- `tcgplayer_etched_product_id` (text) - TCGPlayer etched product ID\n- `cardsphere_id` (text) - Cardsphere product ID\n- `cardsphere_foil_id` (text) - Cardsphere foil ID\n- `cardtrader_id` (text) - CardTrader product ID\n- `mcm_id` (text) - Magic Card Market ID\n- `mcm_meta_id` (text) - Magic Card Market meta ID\n- `scg_id` (text) - Star City Games ID\n- `abu_id` (text) - ABU Games ID\n- `csi_id` (text) - CoolStuffInc ID\n- `miniaturemarket_id` (text) - Miniature Market ID\n- `tnt_id` (text) - Toad and Troll\n- `mp_product_id` (text) - Manapool Product ID\n\n### Version IDs\n- `mtgjson_foil_version_id` (text) - MTGJSON foil version\n- `mtgjson_non_foil_version_id` (text) - MTGJSON non-foil version\n- `mtgjson_v4_id` (text) - MTGJSON v4 identifier\n\n### Metadata\n- `original_release_date` (date) - Original card release date\n\n## Query Examples\n\n**Field Selection:**\n```\n?select=id,product_id,market_price,condition,finish\n?select=*\n?select=count\n```\n\n**Filtering:**\n```\n?product_id=eq.12345\n?market_price=gte.50&market_price=lte.200\n?condition=in.(NEAR MINT)\n?condition_short=in.(NM)\n?is_foil=eq.true\n?has_pricing=eq.true\n?finish=eq.FOIL\n?language=eq.English\n?scryfall_id=is.null\n?mp_product_id=eq.MP12345\n?mp_product_id=is.not.null\n```\n\n**Operators:**\n- `eq` - Equals\n- `neq` - Not equals\n- `gt` - Greater than\n- `gte` - Greater than or equal\n- `lt` - Less than\n- `lte` - Less than or equal\n- `in` - In list (comma-separated)\n- `like` - Pattern match (* wildcard)\n- `ilike` - Case-insensitive pattern match\n- `is.null` - Is null\n- `not.is.null` - Is not null\n\n**Sorting:**\n```\n?order=market_price.desc\n?order=market_price.desc,product_id.asc\n?order=last_updated_at.desc\n```\n\n**Pagination:**\n```\n?limit=100\n?offset=200\n?limit=50&offset=100\n```\n(max limit: 1000)\n\n**Complex Query Example:**\n```\n/api/skus?select=id,product_id,market_price,condition_short,finish,scryfall_id&market_price=gte.100&condition_short=in.(NM,LP)&has_pricing=eq.true&order=market_price.desc&limit=50\n```","security":[{"bearerAuth":[]}],"operationId":"get_SkuList","responses":{"200":{"description":"List of SKUs","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"type":"array","items":{"type":"object","additionalProperties":{}}},"count":{"type":"number"},"page_info":{"type":"object","properties":{"limit":{"type":"number"},"offset":{"type":"number"},"has_more":{"type":"boolean"}}}},"required":["success","data"]}}}},"400":{"description":"Invalid query parameters","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"error":{"type":"string"}},"required":["success","error"]}}}}}}},"/api/skus/{id}":{"get":{"tags":["API"],"summary":"Get a single MTG SKU by ID","description":"Retrieve detailed information for a specific SKU. Optionally select specific fields using the `select` query parameter.","security":[{"bearerAuth":[]}],"operationId":"get_SkuRead","parameters":[{"schema":{"type":"string"},"required":true,"name":"id","in":"path"},{"schema":{"type":"string"},"required":false,"name":"select","in":"query"}],"responses":{"200":{"description":"SKU details","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"type":"object","additionalProperties":{}}},"required":["success","data"]}}}},"404":{"description":"SKU not found","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"error":{"type":"string"}},"required":["success","error"]}}}}}}}},"webhooks":{}}